.main-container4
  .header4
    %h2 会員登録完了
  .main-contents4
    .comment
      %span ありがとうございます。
      %br 会員登録が完了しました。
      = link_to root_path, data: {"turbolinks" => false}, class:"comment__start-btn" do
        interactionをはじめる