.contents-sns__main__btn  
  .contents-sns__main__btn__link
  = link_to registration_signup_index_path, class: "contents-sns__main__btn__link__email" do
    = icon('far', 'envelope',class:"contents-sns__main__btn__link__email__icon-mail")
    %span
      メールアドレスで登録する