- if user_signed_in?
  .content
    .content__main
      .content__main__text
        新着一覧
      .content__main__unit
        - @posts.each do |post|
          .content__main__unit__image
            = link_to post_path(post.id) do
              - if post.images.empty?
                画像がありません
              - else
                = image_tag post.images[0].image.to_s
              %br= post.title
        -# = paginate @posts
- else
  .cont
    .cont_principal
      .cont_text_img
        .cont_img_back
          %img.img_1{:alt => "", :src => "https://i.imgur.com/yQErMlN.jpg"}/
          %img.img_2{:alt => "", :src => "https://i.imgur.com/J6FwYUM.jpg"}/
        .cont_text
          %h1 Interaction
          %p 地方では、中小企業の休廃業・解散が相次げば、それが地域の経済や雇用に多大な影響を及ぼす可能性も考えられています。こうした事情から、事業承継や後継者問題は社会問題として広く認知されるようになりました。
          %p 当サイトではこうした事業継承の手助けができればと思っております。
        .cont_img_frond
          %img.img_1{:alt => "", :src => "https://i.imgur.com/yQErMlN.jpg"}/
          %img.img_2{:alt => "", :src => "https://i.imgur.com/J6FwYUM.jpg"}/
        